.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.navbar {
  padding: 10px 2% 10px 20px;
}

.logo {
  width: 60px;
  margin: 0 2% 0 1%;
}

/* ================== css web menu ================== */
.web-menu {
  grid-area: header;
}

/* ================== css web content ================== */
.web-content {
  grid-area: main;
  width: 100%;
  min-height: 90vh;
  height: 100%;
}

/* ================== css web footer ================== */
.web-footer {
  grid-area: footer;
  color: #bbb;
}

.web-footer .footer-inner {
  padding: 3% 0 3% 8%;
  background-color: #2e2d31;
}
.web-footer .footer-inner .block-title {
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  position: relative;
}

.web-footer .copyright {
  padding: 15px 25px 15px 25px;
  text-align: center;
  background-color: #252429;
}

/* ================== webkit custom ================== */
::-webkit-scrollbar {
  border-radius: 0;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6a696e;
}

::-webkit-scrollbar:horizontal {
  display: none;
}