.gradient-custom {
  /* fallback for old browsers */
  background: #cb7a11;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(203, 101, 1), rgb(216, 212, 152));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(203, 101, 1), rgba(216, 212, 152))
  }